<launch>
    <arg name="simulate" default="true"/>
    <arg name="launch_simulation" default="true"/>
    <arg name="launch_control" default="true"/>
    <arg name="launch_x_control" default="true"/>
    <arg name="launch_y_control" default="true"/>
    <arg name="launch_z_control" default="true"/>
    <arg name="launch_roll_control" default="false"/>
    <arg name="launch_pitch_control" default="false"/>
    <arg name="launch_yaw_control" default="true"/>
    <arg name="record" default="false"/>

    <group if="$(arg launch_simulation)">
        <!-- Vehicle spawn position so that tags are seen -->
        <arg name="x" default="0.7"/>
        <arg name="y" default="2.0"/>
        <arg name="z" default="-0.7"/>
        <arg name="P" default="0.0" />
        <arg name="R" default="0.0" />
        <arg name="Y" default="1.57"/>

        <include file="$(find bluerov_sim)/launch/gazebo_base.launch"/>

        <!-- spawn tank and AprilTags -->
        <include file="$(find bluerov_sim)/launch/spawn_tank.launch">
        </include>

        <!-- spawn BlueROV model -->
        <include file="$(find bluerov_sim)/launch/spawn_vehicle.launch">
            <arg name="x" value="$(arg x)"/>
            <arg name="y" value="$(arg y)"/>
            <arg name="z" value="$(arg z)"/>
            <arg name="R" default="$(arg R)" />
            <arg name="P" default="$(arg P)" />
            <arg name="Y" default="$(arg Y)" />
        </include>

        <!--Our Range Sensor Package that publishes distances to tags -->
        <include file="$(find range_sensor)/launch/range_sensor.launch">
        </include>

    </group>

    <param name="simulate" value="$(arg simulate)" type="bool" />

    <node name="state_estimator" pkg="fav_state_estimation" type="state_estimator.py" output="screen" />
    <node name="setpoints" pkg="fav_state_estimation" type="setpoints.py" output="screen" />

    <group if="$(arg launch_control)">
        <include file="$(find fav_control)/launch/control.launch">
            <arg name="launch_simulation" value="false"/>
            <arg name="launch_x_control" value="$(arg launch_x_control)"/>
            <arg name="launch_y_control" value="$(arg launch_y_control)"/>
            <arg name="launch_z_control" value="$(arg launch_z_control)"/>
            <arg name="launch_roll_control" value="$(arg launch_roll_control)"/>
            <arg name="launch_pitch_control" value="$(arg launch_pitch_control)"/>
            <arg name="launch_yaw_control" value="$(arg launch_yaw_control)"/>
        </include>
    </group>    

    <group if="$(arg record)">
        <node name="record" pkg="rosbag" type="record" args="-o ~/fav/bagfiles/bag /x_setpoint /y_setpoint /z_setpoint /yaw_setpoint /mavros/setpoint_motor/setpoint /estimated_state /yaw /thrust /lateral_thrust /vertical_thrust /pressure /mavros/imu/data /range /rosout"/>
    </group>

</launch>
